<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Agregar filtro</h2>
		
		<form action="/filtro/add" method="post" th:object="${incidence}">
			Propiedad: <input type="text" name="fieldName"><br>
		  	Valor: <input type="text" name="value"><br>
		  	<select name="operation">
			  	<option value="0">Igual</option>
			  	<option value="1">Distinto</option>
			  	<option value="2">Mayor</option>
			 	<option value="3">Menor</option>
			</select>
		  	<input type="submit" value="Submit">
		</form>
		
	</div>
	<footer class="footer" th:replace="fragments/footer :: footer" />
</body>
</html>