<!-- nav.html -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
				<li><a href="/">Dashboard</a></li>
				<li class="dropdown"><a id="btnIncidences" href="#"
					class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false"> <span>Incidencias</span>
						<span class="caret"></span>
				</a>
					<ul id="incidencesDropdownMenuButton" class="dropdown-menu">
						<li><a id="myIncidences" th:href="@{/incidencias/list}">
								<span>Mis incidencias</span>
						</a></li>
					</ul></li>
				<li id="notificaciones-menu" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"> <span>Notificaciones</span><span
						class="caret"></span>
				</a>
					<ul id="notificacionesDropdownMenuButton" class="dropdown-menu">
						<li><a id="misNotificaciones"
							th:href="@{/notificaciones/list}"> <span>Mis
									notificaciones</span>
						</a></li>
					</ul></li>
				<li id="notificaciones-menu" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"> <span>Filtros</span><span
						class="caret"></span>
				</a>
					<ul id="notificacionesDropdownMenuButton" class="dropdown-menu">
						<li><a id="misNotificaciones" th:href="@{/filtro/list}">
								<span>Mis Filtros</span>
						</a></li>

						<li><a id="misNotificaciones" th:href="@{/filtro/add}"> <span>Añadir
									Filtro</span>
						</a></li>

					</ul></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}"><span
						class="glyphicon glyphicon-log-in"></span> Login </a></li>
				<li sec:authorize="isAuthenticated()"><a href="/logout"><span
						class="glyphicon glyphicon-log-out"></span> Desconectar </a></li>
			</ul>
		</div>
	</div>
</nav>